# Dependencies
node_modules/

# Environment
.env
.env.production

# Deployment
.vercel/
.vercel

# Test coverage
coverage/

# Code quality
.biome-cache/

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

