openapi: 3.0.0
info:
  title: Readme-Contribs API
  description: >
    Embeddable contributor, sponsor, stargazer, watcher, forker, and follower widgets for GitHub READMEs.
    <hr />
    <br />
    **Built By**
    <br />
    ![Contributors](https://readme-contribs.as93.net/contributors/lissy93/readme-contribs)
    <br />
    **Stargazers**
    <br />
    ![Contributors](https://readme-contribs.as93.net/stargazers/lissy93/readme-contribs?hideLabel=true&margin=2&textOffset=0&avatarSize=20)
  version: "1.0.0"
  license:
    name: 'License: MIT'
    url: https://github.com/Lissy93/readme-contribs/blob/main/LICENSE
externalDocs:
  description: 'Source: GitHub'
  url: https://github.com/Lissy93/readme-contribs


servers:
  - url: https://readme-contribs.as93.net
    description: Public API Server
paths:
  /contributors/{user}/{repo}:
    get:
      summary: Embed contributors widget
      description: Retrieves an SVG image displaying contributors of a specified repository.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the repository owner.
        - in: path
          name: repo
          required: true
          schema:
            type: string
          description: GitHub repository name.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of contributors.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.
  
  /sponsors/{user}:
    get:
      summary: Embed sponsors widget
      description: Retrieves an SVG image displaying sponsors of a specified user.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the user.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of sponsors.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.

  /stargazers/{user}/{repo}:
    get:
      summary: Embed stargazers widget
      description: Retrieves an SVG image displaying stargazers of a specified repository.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the repository owner.
        - in: path
          name: repo
          required: true
          schema:
            type: string
          description: GitHub repository name.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of stargazers.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.

  /watchers/{user}/{repo}:
    get:
      summary: Embed watchers widget
      description: Retrieves an SVG image displaying watchers (subscribers) of a specified repository.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the repository owner.
        - in: path
          name: repo
          required: true
          schema:
            type: string
          description: GitHub repository name.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of watchers.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.

  /forkers/{user}/{repo}:
    get:
      summary: Embed forkers widget
      description: Retrieves an SVG image displaying forkers of a specified repository.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the repository owner.
        - in: path
          name: repo
          required: true
          schema:
            type: string
          description: GitHub repository name.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of forkers.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.

  /followers/{user}:
    get:
      summary: Embed followers widget
      description: Retrieves an SVG image displaying followers of a specified GitHub user.
      parameters:
        - in: path
          name: user
          required: true
          schema:
            type: string
          description: GitHub username of the user.
        - $ref: '#/components/parameters/ImageOptions'
      responses:
        200:
          description: SVG image of followers.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        404:
          description: Resource not found.

components:
  parameters:
    ImageOptions:
      name: options
      in: query
      required: false
      schema:
        type: object
        properties:
          title:
            type: string
            default: ''
            description: Badge title text displayed at the top
          avatarSize:
            type: integer
            default: 50
            minimum: 30
            maximum: 200
            description: Avatar size in pixels
          perRow:
            type: integer
            default: 8
            minimum: 1
            maximum: 50
            description: Number of avatars to display per row
          shape:
            type: string
            enum: [square, circle, squircle]
            default: square
            description: Shape of the avatar images
          hideLabel:
            type: boolean
            default: false
            description: Hide the username labels below avatars
          fontSize:
            type: integer
            default: 12
            minimum: 10
            maximum: 32
            description: Font size for username labels in pixels
          fontFamily:
            type: string
            default: "'Mona Sans', 'Open Sans', Verdana, Arial, sans-serif"
            description: Font family for text
          textColor:
            type: string
            default: '333333'
            description: Text color as hex code (without #)
          backgroundColor:
            type: string
            default: 'transparent'
            description: Background color as hex code or CSS color name
          limit:
            type: integer
            default: 96
            minimum: 1
            maximum: 500
            description: Maximum number of users to display
          outerBorderWidth:
            type: integer
            default: 0
            minimum: 0
            maximum: 20
            description: Width of outer border in pixels
          outerBorderColor:
            type: string
            default: ''
            description: Outer border color as hex code or CSS color name
          outerBorderRadius:
            type: integer
            default: 0
            minimum: 0
            maximum: 50
            description: Outer border radius in pixels
          margin:
            type: integer
            default: 20
            minimum: 0
            maximum: 100
            description: Margin/spacing between avatars in pixels
          textOffset:
            type: integer
            default: 20
            minimum: 0
            maximum: 100
            description: Vertical offset for username text below avatar
          svgWidth:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
            description: Custom SVG width in pixels (0 = auto)
          svgHeight:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
            description: Custom SVG height in pixels (0 = auto)
          footerText:
            type: string
            default: ''
            description: Footer text to display at bottom of badge
          dynamic:
            type: boolean
            default: false
            description: Enable dynamic mode (renders in HTML instead of encoding images)
          isResponsive:
            type: boolean
            default: false
            description: Make the badge responsive (scales with container)
          format:
            type: string
            enum: [svg, png]
            default: svg
            description: Output image format (SVG or PNG)

